
.Main-mast{
    background : url('./bgcopy.jpg');
     margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 740px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
   
}
.Main-content{
  margin-top: 100px;
}
.card {
  background: #fff;
  background: rgba(255,255,255,0.2);
  opacity:0%;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 400px;
  float:right;
  left:10%;
  padding: 10px;
}
.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Main-text{
    top:30%;
}
.Main-title{
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}
.Main-card-content{
    margin-top: 30px !important;
}